[submodule "gateway"]
	path = gateway
	url = https://github.com/RKOrtega94/sofka-gateway-service.git
	branch = main
[submodule "client"]
	path = client
	url = https://github.com/RKOrtega94/sofka_client_service.git
	branch = main
[submodule "account"]
	path = account
	url = https://github.com/RKOrtega94/sofka_account_service.git
	branch = main
[submodule "security"]
	path = security
	url = https://github.com/RKOrtega94/sofka-security.git
	branch = main
